/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
 


:root {
    --min-left-right-split: 30%;
    --page-top-bottom-margin: 10%;
    --left-margin: 50px;
    --right-margin: 150px;
    --section-top-bottom-margin:20px;
    --input-box-width: 260px;
    --input-box-height: 2rem;
    --form-section-top-bottom-margin: 15px;
    --account-section-top-bottom-margin: var(--form-section-top-bottom-margin);
    --theme-bg-color: #e2a76d;
    --button-color:#e2872c;
    --theme-bg-color-contrast:#e7dbce;
  }

body {
    background-color: rgb(0, 255, 132);
    display: flex;
    width:100vw;

}

.leftside {
    display: inline;
    min-width:300px;
    width: var(--min-left-right-split);
    height: 100vh;
    overflow: hidden;
    /* Image is 1862 width by 2792 height*/
    background-image: url('halie-west-FuP-d0PIA5A-unsplash.jpg');
    background-size: cover;
    background-position: -50px;
    
}

.photo-ref{
    position:relative;
    color:rgb(0, 0, 0);
    bottom:-85vh;
    right:-25%;
    opacity: .8;
    width:fit-content;
}

.logoDisplay{
    background-color: #000000;
    opacity:0.5;
    width:100%;
    position:relative;
    top:25%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.logo{
    display:inline;
    min-width: 100px;
}

.logoName{
    display:inline;
    color:white;
    font-size:40px;
}

.rightside {

    display: inline;
    flex:1 0 auto;
    height:100vh;
    /* width:calc(100% - var(--min-left-right-split)); */
    
    width: calc(100% - var(--min-left-right-split));
    min-width:700px;
}

.descriptionSection{
    background-color:var(--theme-bg-color);
    height:30%;
    margin:0;
    padding-bottom:50px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;

}

.descriptionText{
    margin-left:var(--left-margin);
    margin-right:var(--right-margin);
    color:#000000;
    font-size: 20px;
    font-weight: 700;
    width: 519px;
}

.descriptionText:last-child{
    margin-top:var(--form-section-top-bottom-margin);
}

.formSection{
    background-color: var(--theme-bg-color-contrast);
    height:40%;

}

.formSection .descriptionText{
    padding-top:var(--form-section-top-bottom-margin);
}

.inputRow{
    display:flex;
}
.inputRow .inputItem{
    width: var(--input-box-width);
    margin-right:calc(var(--left-margin) + 10px);
    margin-left:var(--left-margin);
    margin-top:15px;
    position:relative;
    height:calc(2.5 *var(--input-box-height));

}

.inputItem input{
    height:var(--input-box-height);
}

.inputRow:last-child{
    margin-bottom:20px;
}

input[type="text"],input[type="email"]{
   width: calc(var(--input-box-width) - 2px)
}

input:invalid{
    border: 2px solid red;
}

input:invalid:focus{
    background-image: linear-gradient(pink,lightgreen);
}


/* This is the style of our error messages */
.error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;

    position:absolute;
    top:calc(1.6 * var(--input-box-height));
    left:0px;
    width: var(--input-box-width);
  }
  
  .error.active {
    padding: 0.1em;
    opacity: 1;
  }

  .error.inactive {
    opacity:0;
  }




.createAccountSection{
    background-color:var(--theme-bg-color);
    height:30%;
}

.submit{
    background-color: var(--button-color);
    color:black;
    width: calc(var(--input-box-width) * 0.9);
    padding: 10px;
    border-radius: 25px;
    margin-top:var(--account-section-top-bottom-margin) ;
    margin-left:var(--left-margin);
}

.login-text{
    margin-top:var(--account-section-top-bottom-margin);
    margin-left:var(--left-margin);

}